* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.1);
  padding: 10px;
}

.box-left {
  border: 1px solid rgba(128, 128, 128, 0.1);
  padding: 10px;
}

@media screen and (min-width: 786px) {
  .container {
    width: 80%;
  }
}
